# https://learn.microsoft.com/en-us/azure/devops/pipelines/get-started/key-pipelines-concepts?view=azure-devops

trigger:
  - 'main'

variables:
  mavenVersion: '3.9.6'
  javaVersion: '21'

stages:
  - stage: 'Build'
    displayName: 'Build and analyze source code'
    jobs:
      - job: 'Build'
        # only build off the `main` branch
        condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
        displayName: 'Build job'
        steps:
          # checkout code
          - task: Checkout@1

          # set up Java
          - task: UseJavaVersion@1
            # keep getting an error saying this task name is "missing"
            # indicating that it's not installed.
            inputs:
              versionSpec: '$(javaVersion)'
              jdkArchitecture: 'x64'

          # set up Maven
          - task: Maven@3
            inputs:
              mavenVersionOption: 'Default'
              mavenAuthenticateFeed: false

          # run PMD for static code analysis
          - script: |
              mvn pmd:pmd
            displayName: 'run static code analysis'

          # run unit tests and generate reports
          - script: |
              mvn test
            displayName: 'unit testing'

          # publish unit testing results
          - task: PublishTestResults@2
            inputs:
              testResultsFiles: '**/surefire-reports/*.xml'
              testRunTitle: 'unit test reports'

          # package the JAR
          - script: |
              mvn clean package
            displayName: 'packaging JAR for artifacts'

          # publish the artifact
          - task: PublishBuildArtifacts@1
            inputs:
              pathToPublish: 'target/*.jar'
              artifactName: 'the-jar'

