<div class="col" layout:fragment="page_content" xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
    <h1>Customers of the Store</h1>
    <div class="vstack gap-3">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone num.</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="customer : ${customers}">
                    <td th:text="${customer.firstName + ' ' + customer.lastName}"></td>
                    <td th:text="${customer.email}"></td>
                    <td th:text="${customer.phoneNumber}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="vstack gap-3">
        <a th:href="@{/store/customer/add}">add customer</a>
    </div>
</div>