<div class="col" layout:fragment="page_content" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
    <form method="post" th:action="@{/account/register}" th:object="${user}">
        <div>
            <label class="form-label" for="email">email address</label>
            <input type="email" id="email" name="email" class="form-control" th:field="*{email}">
            <span class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        </div>
        <div>
            <label class="form-label" for="firstname">first name</label>
            <input type="text" class="form-control" id="firstname" name="firstname" th:field="*{firstName}">
            <span class="alert alert-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
        </div>
        <div>
            <label for="lastname" class="form-label">last name</label>
            <input type="text" class="form-control" id="lastname" name="lastname" th:field="*{lastName}">
            <span class="alert alert-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
        </div>
        <div>
            <label for="passwd" class="form-label">password</label>
            <input class="form-control" type="text" id="passwd" name="passwd" th:field="*{password}">
        </div>
        <div>
            <button class="btn btn-primary" type="submit">register</button>
        </div>
    </form>
</div>