<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title layout:fragment="page_title">title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <div class="container">
        <div class="row vstack gap-3">
            <div class="row">
                <div sec:authorize="!isAuthenticated()">
                    Not logged in, so <a th:href="@{/oauth2/authorization/okta}">login</a>
                </div>
                <div sec:authorize="isAuthenticated()">
                    Welcome, you are logged in.
                </div>
            </div>
            <div class="row" layout:fragment="page_content">
                content placeholder
            </div>
        </div>
    </div>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>